<!DOCTYPE html>
<html lang="pt-BR">

  <%- include("includes/head") %>

  <body>
    <%- include("includes/navbar") %>

    <div class="container-fluid">
      <div class="row">
        <div style="background-color: hsl(196, 45%, 78%);" class="col-3 min-vh-100">
          <h4 class="pt-5 mt-4">Participantes:</h4>
          <div id="participants-container">

          </div>
        </div>

        <div class="col-6 my-5 py-4">
          <div id="messages-container"></div>
        </div>

        <div style="background-color: #AFD4E1;" class="col-3 min-vh-100"></div>
      </div>
    </div>

    <div class="fixed-bottom">
      <nav class="navbar navbar-expand-lg bg-primary dark">

        <div class="container">
          <div class="row w-100">

            <div class="col-12 w-50 m-auto">
              <div class="input-group">
                <input type="hidden" id="user" value="<%= user.name %>" >
                <input type="hidden" id="email" value="<%= user.email %>" >
                <input id="message-input" type="text" class="form-control mx-2" placeholder="Mensagem">
                <span class="input-group-btn">
                  <button id="message-button" class="btn btn-light" type="button">send</button>
                </span>
              </div>
            </div>

          </div>
        </div>

      </nav>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <%- include("includes/scripts") %>
  </body>
</html>
